ipykernel
requests
python-dotenv
azure-identity
azure-storage-blob
azure-ai-textanalytics
azure-search-documents
beautifulsoup4
feedparser
streamlit
plotly
pandas
numpy
seaborn
matplotlib
scipy
wordcloud
openai
